body{
    margin: 0;
    padding: 0;
    
    header{
        width: 80%;
        margin: 0 auto;
    }
    section{
        width: 80%;
        margin: 0 auto;
        form{
            margin: 30px auto;
            .form-group{
                label{
                    display: block;
                }
            }
        }


        .border{
            border: 1px solid black;
            .flex{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

